.daily {
    width: 15%;
    background-color: dodgerblue;
    float: left;
    margin: 10px;
    color: white;
    border-radius: 5px;

}
.date{
    font-weight: bold;
}

.page-header{
    background-color: darkslategray;
    text-align: center;
    color: floralwhite;

}